{
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "plugins": [
        "no-loops",
        "no-secrets"
    ],
    "extends": ["standard"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "no-loops/no-loops": 2,
        "no-secrets/no-secrets": "error"
    }
}